.mainFirstBlog {
    width: 1350px;
}
.indiBlogImg{
    width: 1350px;
}

.indiBlogTitle{
    position: absolute;
    left: 169px;
        top: 332px;
        font-family: 'Montserrat';
            font-style: normal;
            font-weight: 700;
            font-size: 64px;
            line-height: 78px;
            /* identical to box height */
        
        
            color: #FFFFFF;
}

.indiBlogContainer{
    display: flex;
    justify-content: center;
    gap: 5vw;
}

.indiBlogInfo{
    width: 50vw;
   
}

.indiBlogInfo>img{
    width: 50vw;
    max-width: 250vw;
}

.blogHead{
    display: flex;
    justify-content: center;
    font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 49px;
}


@media only screen and (max-width: 800px) {
    .indiBlogInfo {
            width: 50%;
    
        }
           .indiBlogInfo>img {
               width: 90vw;
           }
}

